html {
    overflow: hidden;
    display: table;
    margin: auto;
}
body {
    margin-bottom: 60px;
    width: 100%;
    height: auto;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f7f9+0,d7dee3+1,e5ebee+50,f6f8f9+100 */
    background: #D7DAE5; /* Old browsers */
    background-repeat: no-repeat;
    background-attachment: fixed
    
}
nav ul, footer ul {
    font-family:'Open Sans', sans-serif;
    letter-spacing: 1.25px;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #ffffff;
}
a:hover {
    text-decoration: underline;
}
img {
    width: 30%;
    height: auto;
}
.center {
    width: 75px;
    height: 75px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 8px 8px white inset;
    border-radius: 50%;
    border: 5px solid #ffffff;

}
h1 {
    font-size: 2em;
    font-family:'Open Sans', sans-serif;
    letter-spacing: 1.15px;
    font-weight: lighter;
    text-align:center;
    color: #4E5B5B;
    
}
p {
    font-family:'Open Sans', sans-serif;
    letter-spacing: 1.15px;
    font-size: 1.3em;
    line-height: 1.4em;
    color: #6B7D7D;
    font-weight:lighter;
    text-align: center;

}
footer {
    text-align: center;
    border-top: 1px solid #ffffff;
    font-size: 1em;
}

/*.footer1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 200px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
*/
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
    font-color: #ffffff;
}

ul.posts li {
    list-style: none;
}
