body {
    margin: 240px auto;
    width: 40%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff7cd8+0,fcabe1+0,fcecfc+100 */
background: #ff7cd8; /* Old browsers */
background: -moz-linear-gradient(top, #ff7cd8 0%, #fcabe1 0%, #fcecfc 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ff7cd8 0%,#fcabe1 0%,#fcecfc 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ff7cd8 0%,#fcabe1 0%,#fcecfc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7cd8', endColorstr='#fcecfc',GradientType=0 ); /* IE6-9 */
background-repeat: no-repeat;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #8107AB;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
