body {
    margin: 240px auto;
    width: 40%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcecfc+0,ec88f7+100,fd89d7+100,ff7cd8+100 */
    background: #fcecfc; /* Old browsers */
    background: -moz-linear-gradient(top, #fcecfc 0%, #ec88f7 100%, #fd89d7 100%, #ff7cd8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fcecfc 0%,#ec88f7 100%,#fd89d7 100%,#ff7cd8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fcecfc 0%,#ec88f7 100%,#fd89d7 100%,#ff7cd8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8',GradientType=0 ); /* IE6-9 */
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
